@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");


:root {
	--main-bg-color: white;
	--cyan: hsl(179, 62%, 43%);
	--bright-yellow: hsl(71, 73%, 54%);
	--light-gray: hsl(204, 43%, 93%);
	--grayish-blue: hsl(218, 22%, 67%);
}

body {
	font-family: "Karla", sans-serif;
	font-size: 16px;
	background-color: var(--light-gray);
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.card-container {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	width: 640px;
	height: 480px;
	background-color: var(--main-bg-color);
	/* margin: auto; */
}

.upper-header {
	flex-grow: 2;
	padding: 3% 5%;
}

.columns-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.column {
	background-color: var(--cyan);
	color: var(--main-bg-color)
	padding: 3% 5%;
	max-width: 50%;
}

.left .upper-header {
	padding: 40px;
}

.right {
	padding: 40px 100px 40px 40px;
}

.column .button {
	background-color: var(--bright-yellow);
	border: none;
	border-radius: 5px;
	padding: 15px 25px;
	color: white;
	text-align: center;
	padding: 10%;
}

.header-title {
	color: var(--cyan);
}

.header-subtitle {
	color: var(--bright-yellow);
}

.header-content {
	color: var(--grayish-blue);
}
