@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
	--main-bg-color: white;
	--cyan: hsl(179, 62%, 43%);
	--bright-yellow: hsl(71, 73%, 54%);
	--light-gray: hsl(204, 43%, 93%);
	--grayish-blue: hsl(218, 22%, 67%);
	--lighter-cyan: #4ABEBD;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Karla", sans-serif;
	font-size: 12px;
	background-color: var(--light-gray);
}

h1 {
	/* font-size: 1.5em; */
}

strong#price{
	font-size: xx-large;
	opacity: 0.85;
	font-weight: 600;
}

.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.card-container {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	width: 640px;
	height: 480px;
	background-color: var(--main-bg-color);
	/* margin: auto; */
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

.upper-header {
	flex-grow: 2;
	padding: 20px 100px 20px 40px;
}

.columns-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
	border-bottom-left-radius: 6px;
}

.column {
	background-color: var(--cyan);
	color: var(--main-bg-color);
	width: 50%;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
}

.column > * {
	margin: 0px;
}

.column:hover {
	filter: brightness(110%);
}

.title{
	font-size: 1.25em;
}

.content{
	opacity: 0.5;
}

.left {
	border-bottom-left-radius: 6px;
}




.right {	
	background-color: var(--lighter-cyan);
	border-bottom-right-radius: 6px;
}

.button {
	background-color: var(--bright-yellow);
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 20px;
	width: 100%;
}

.header-title {
	color: var(--cyan);
	padding: 3px;
}

.header-subtitle {
	color: var(--bright-yellow);
}

.header-content {
	color: var(--grayish-blue);
	line-height: 2;
	font-size: 1.25em;
}

ul {
	list-style: none;
	padding: 0px;
	opacity: 0.75;
	
}

li {
	padding: 1px 0px;
}